html {
    scroll-behavior: smooth;
}

body {
    @apply text-lg
}

.projects img {
    width: 100%;
}

/* color */
.bg-primary {
    background: #0F172A;
}

.bg-secondary {
    background: #1E293B;
}

.bg-accent {
    background: #2392d4ff;
}

.text-accent {
    color: #2392d4ff;
}


nav li a {
    @apply px-4 py-5 text-lg;
}

nav li a:hover {
    color: #2392d4ff;
}

.mobile-nav {
    @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
}


/* hero */
h1 {
    font-family: 'Noto Sans', 'Roboto', sans-serif;
    line-height: 1.5 !important;
}