html {
    scroll-behavior: smooth;
}

body {
    @apply text-lg
}

.projects img {
    width: 100%;
}

/* color */
.bg-primary {
    background: #0F172A;
}

.bg-secondary {
    background: #1E293B;
}

.bg-accent {
    background: #2392d4ff;
}

.text-accent {
    color: #2392d4ff;
}


nav li a {
    @apply px-4 py-5 text-lg;
}

nav li a:hover {
    color: #2392d4ff;
}

.mobile-nav {
    @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
}


/* hero */
h1 {
    font-family: 'Noto Sans', 'Roboto', sans-serif;
    line-height: 1.5 !important;
}



select {

    /* styling */
    background-color: #1E293B;
    border: thin solid white;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1em;
    padding: 3em 3.5em 0.5em 1em;
  

    /* reset */
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .contact-form-card{
    width: 300px;
    padding: 15px;
    margin:auto;
    border-radius: 10px;
    background-color: #1E293B;
color: black;
  }

  #contact-form-disclaimer{
    padding-top: 10px;
    font-size: 12px;
  }
  
  #contact-form-disclaimer-green-text{
    color:green;
  }